@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
